@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0; /*eliminar el margen*/
  padding: 0; /*eliminar el espacio-margen interior*/
  box-sizing: border-box; /*el tamaño del contenedor se mantiene estable*/
  text-decoration: none; /*eliminar decoración en los textos*/
  list-style: none;/*elimina decoración de las listas*/
}


body{
  max-width: 1200px;
  margin: 0 auto;
  font-family: "Poppins";
}


.container{
  display: grid;
  grid-template-columns: 1fr 1fr; /*divide el contenedor en dos columnas de igual tamaño*/
  
  align-items: center;/*centra verticalmente*/
  justify-content: center;/*centra horizontalmente*/
}


/*header*/
.header{
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0px 10px;
  display: flex;
  justify-content: space-between;
  z-index: 100;
  margin: 0 auto;
  max-width: 1300px;
}
.header img{
  width: 140px;
  margin-left: 30px;
  padding-top: 5px;
  display: block;
}

/* cuerpo */
.historia{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  margin-top: 1%;

}

.manos{
  height: 100%;
}

#nuestrahistoria{
 display: grid;
 height: 97%;
 grid-template-rows: 0.2fr 1fr;
 text-align: center;
 margin-top: 0%;
 background-color: #F0830E;
}

 #nuestrahistoria-1{
  color:#880c07;
 }
 #nuestrahistoria-2{
  margin-top: -2%;
   color:aliceblue;
   grid-row-start: 1; 
  }
 
.nh p{
  text-align: justify ;
  margin: 5%;
  color: #880c07;
  font-size: 1em;
 }


#manos{
   height: 97%;  
}

.nos{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#nosotros{
  display: grid;
  grid-template-rows: 0.2fr 1fr;
  height: 100%;
  background-color: #81B04B;

  .nosotros p{
    text-align: justify;
    margin: 5%;
    color: #FBDD7B;
    font-size: 1em;
  }
}
 #no{
  text-align: center;

  #no-1{
    color:#FBDD7B
  }
    #no-2{
      margin-top: -2%;
    color:#C21518
    }
  }


 .niño{
  margin-left: 20%;
  height: 500px;
 }

#ahijados{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1%;
  row-gap: 10px;
  margin-top: 1%;
}

.ahijados{
  text-align: center;
  color: #FBDD7B;
}

.ahijado1 .ahijado2 .ahijado3 .ahijado4 .ahijado5 .ahijado6 .ahijado7 .ahijado8{
  display: grid;
  grid-template-rows: 1fr 0.3fr;

}
.ahijado1 p{
  text-align: center;
}
.ahijado2 p{
  text-align: center;
}
.ahijado3 p{
  text-align: center;
}

.ahijado4 .ahijado5,p{
  text-align: center;
}

.texto-ahijado{
  background-color: #FBDD7B;
}


