header{
    display: grid;
    grid-template-columns: 50% 50%;
}

.portada{
    width: 35%;
    position: relative;
    left:15%;

}

.menu {
 max-height: 35px;
 top:25%;
 position: relative;
 right: 20%;

    
    
}

/*display flex para el menu principal */
.nav1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    color: beige;
    width: auto;
    
    
}

a{
    font-size: 1.2vw;
}

/* estilos para las cajas contenedoras */
.nav1>li>a {
    border-radius: 3px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
   
    
    
}

/* estilos para las cajas contenedoras */
ul ul a {
    border-radius: 3px;
    text-decoration: none;
    padding: 5px;


}

/* Dandole flex y formato a los submenus*/

.subitems {
    display: flex;
    flex-direction: column;
    list-style: none;
    row-gap: 10px;
    align-items: baseline;
    margin-left: -30px;
    margin-top: 10px;
    width: 35px;

    
}

/* Display:none para que los submenus no esten a la vista, salvo que se los seleccione*/
.subitems li a {
    display: none;
    background-color: lightcoral;
    height: auto;
}

/* display:flex, aplicado a la la lista del menu principal, para que al pasar por arriba aparezcan los submenus*/
.nos:hover li a {
    display: flex;
    z-index: 5;
    background-color: orange;
    transition-duration: 1.5;

}
.nos:hover a{
    background-color: orange;
    transition-duration: 1.5;
}

.dona:hover li a {
    display: flex;
    transition-duration: 3;
    touch-action: cross-slide-x;

}

.col:hover li a {
    display: flex;

}

.cont:hover li a {
    display: flex;

}
/*fin de los hover para el menu principal*/

/* hover para que al pasar por los nombres de las listas tomen un color de fondo azul */
.subitems li:hover {
    background-color: blue;
}

/* hover para que al pasar por los nombres de las listas tomen un color de fondo lightgreen*/
ul li a:hover{
    background-color:lightgreen;
}

/* formato para nuestra historia */

.historia {
    display: grid;
    grid-template-columns: 50% 50%;
}

.nhistoria{
        background-color: rgba(235, 156, 9, 0.993);
        text-align: center;
}
.nhistoria h1{
    position: relative;
    color: white;
    top:5%
}

.nhistoria h1 b{
    color: rgb(233, 62, 0);
}

p{
    color:rgb(233, 62, 0);
    text-align: justify;
    margin:15%
}

.manos{
    position: relative;
    width: 100%;
    
}

img{
    grid-template-columns: max-content;
    width: 100%;
    height: 100%;
}

.nobjetivos{
    display:grid;
    grid-template-columns: 50% 50%;
  
}
.objetivos{
    grid-column-start: 1;
    font-size: 1.5vw;
    text-align: justify;
}

#objetivos{
    position: relative;
    color:red;
    top:5%;

}

#objetivos b{
   
    color:rgb(185, 243, 50)
}

#objetivos{
    text-align: center;
    
}

.grilla{
    background-color: rgb(128, 177, 70,100%) ;
}

#ahijado{
    display:grid;
    grid-template-columns: 25% 25% 25% 25%;
    width:75%;
    margin-left: 15%;
    margin-bottom: 5%;

}

#ahijados{
    text-align: center;
    background-color:#F9DB79;
   height: 100%;
   
}

.ahijado1{
    width: 75%;
    height: auto;
    position: relative;
    margin: 0% 5% 0% 15%; 
    
}
.ahijado2{
    width: 75%;
    height: autp;
    position: relative;
    margin: 0% 0% 0% 10%;
}
.ahijado3{
    width: 75%;
    height:auto;
    position: relative;
    margin: 0% 0% 0% 5%;
    
}

.ahijado4{
    width: 75%;
    height: auto;
    position: relative;
    margin: 0% 5% 0% 0%;
    
}

.ahijado5{
    width: 75%;
    height: auto;
    position: relative;
    margin: 0% 5% 0% 15%; 
    
}
.ahijado6{
    width: 75%;
    height: autp;
    position: relative;
    margin: 0% 0% 0% 10%;
}
.ahijado7{
    width: 75%;
    height:auto;
    position: relative;
    margin: 0% 0% 0% 5%;
    
}

.ahijado8{
    width: 75%;
    height: auto;
    position: relative;
    margin: 0% 5% 0% 0%;
    
}

#ahijado2{
    display:grid;
    background-color:#F9DB79;
    grid-template-columns: 25% 25% 25% 25%;
    background-color:#F9DB79 ;
    width: 75%;
    margin-left: 15%;
}

.footer{
    background-color:#C11517 ;
    height: 50%;
    display: grid;
    grid-template-columns: 35% 35% 35%;
   
                        
}

.datos{
    font-size: 1vw;
    
    
}
.mail{
    text-decoration: none;
    color:black;
    position: relative;
    top: 35%;

}

.tel{
    color:black;
  
    
}


.whatsapp, .face, .insta, .x{
    width: 5%;
    height: 15%;
    grid-column-start: 2;
    grid-column-end: 3;
    position: relative;
    top: 35%;
    left: 35%;
}

#vinculos{
    grid-column-start: 2;
    align-content: center;
   
}

.derechos{
    color: black;
    font-size: 1vw;
}

.logo{
    width: 25%;
    height: 45%;
   position: relative;
   left: 25%;
   top:25%
}