*{
    margin: 0; /*eliminar el margen*/
    padding: 0; /*eliminar el espacio-margen interior*/
    box-sizing: border-box; /*el tamañao del contenedor se mantiene estable/
    text-decoration: none; /*eliminar decoracion en los textos*/
    list-style: none; /*elimina decoracion de las listas*/
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;0,900;1,400;1,600;1,700;1,800;1,900&display=swap')

}



    
    header{
    height: 150%;
    display: grid;
    grid-template: 50% /100px;
    background-color: #81B04B;
}
 
nav{
  grid-column:1;
  grid-row:1
}
    .padre{
        display: flex;
        flex-direction: column;
        width: 95%;
        
    
        li{
            list-style: none;
            
        }
    
        a{
            text-decoration: none;
            color: black;
            border: 2px solid rgb(49, 75, 20);
            border-radius: 3px;
            position: relative;
            padding: 3px;
           
        }
        
    }
    
.inicio{
    padding: 7px;
    
} 
.nosotros{ 
        list-style: none;
        text-decoration: none;
        height: 5%;
        padding: 5px;
       
    
    }
    .listnosotros li{
            border:solid 1px orange;
            border-radius: 4px;
            list-style: none;
            text-decoration: none;
            display: none;
            position: relative;
            width: 35%;
         
    
        a{
            text-decoration: none;
        }
            
      }
    
    .nosotros li>a:hover  {
        background-color: orange;
      }
    
      .nosotros:hover li{
        display: block;
      }
    
      .listnosotros li>a:hover{
        background-color: orange;
        
      }
    
    /* hover  y estilos para la pestaña donacion */
.dona{
   max-height: 5%;
    padding: 7px;
    position: relative;
   
}

    .dona:hover li{
        display: block;
       
      }

      .dona li>a:hover{
        background-color: red;
        position: relative;
      }
    
      .listdona li{
        display: none;
        position: relative;
        border: 1px solid red;
        border-radius: 3px;
        width: 65%;
      }
    
    
      /* hover y estilos para colaboracion */
.cola{
    padding: 7px;
}

      .cola:hover li{
        display: block;
        position: relative;
      
       
      }
    
      .cola li>a:hover{
        background-color: red;
      }
    
      .listcola li{
        display: none;
        position: re;
        border: 1px solid red;
        border-radius: 3px;
        width: 75%;
      }
    
    /* hover y estilos para contacto */
    .conta{
        padding: 7px;
    }
    .conta:hover li{
        display: flex;
        position: absolute;
       
      }
    
      .conta li>a:hover{
        background-color: red;
      }
    
      .listconta li{
        display: none;
        position: relative;
        border: 1px solid red;
        border-radius: 3px;
        width: 35%;
      }

     

